@font-face {
	font-family:Kiwi-Maru;
	font-style:normal;
	font-display:fallback;
	src:url(https://thysbelon.github.io/font/KiwiMaru-en-ext3.woff2);
}
@font-face {
	font-family:Kiwi Maru;
	font-style:normal;
	font-display:fallback;
	src:url(https://thysbelon.github.io/font/kiwi-maru-japanese.woff2);
}
@font-face {
	font-family:Silkscreen;
	font-style:normal;
	font-weight:bold;
	src:url(https://fonts.bunny.net/silkscreen/files/silkscreen-latin-400-normal.woff2) format('woff2');
}
@font-face {
	font-family:DotGothic16;
	font-style:normal;
	font-weight:bold;
	src:url(https://fonts.bunny.net/dotgothic16/files/dotgothic16-latin-400-normal.woff2) format('woff2');
}
@font-face {
	font-family:DotGothic16;
	font-style:normal;
	font-weight:bold;
	src:url(https://fonts.bunny.net/dotgothic16/files/dotgothic16-japanese-400-normal.woff2) format('woff2');
}
:root {
	--bg:#88a048;
	--txt:#182808;
	--line:#284020;
}
@media (prefers-color-scheme:dark) {
	:root {
		--bg:#182808;
		--txt:#88a048;
		--line:#486830;
	}
}
body {
	max-width:44em;
	margin-left:auto;
	margin-right:auto;
	background-color: var(--bg);
	color: var(--txt);
}
body {
	font-family: Kiwi Maru, sans-serif;
}
body:lang(en) {
	font-family: Kiwi-Maru, sans-serif;
}

hr {
	border: solid 0.1em var(--line); 
}
a.button-link {
	background-color:var(--txt);
	color:var(--bg);
	border-radius:0.4rem;
	padding:.3rem;
	text-decoration-color:transparent;
	display:block;
	border:.1rem solid transparent; /*for borders in high contrast mode*/
	/*center*/
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
#download-link{
	font-size: 150%;
}
figure.song-demo audio, figure.song-demo a{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:max-content;
}

h1 {
	text-align:center;
}
h1, h2, .deco-text {
	font-family: Silkscreen, serif;
}
h1:lang(ja), h2:lang(ja), .deco-text:lang(ja) {
	font-family: DotGothic16, serif;
}